@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&family=Macondo&display=swap');
.App {
    text-align: center;
    font-family: 'Heebo', sans-serif;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}
